<h1>Amoebas</h1>

<table cellpadding="8">
  <thead>
    <tr>
      <th>Name</th>
      <th>Generation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @amoebas.each do |amoeba| %>
      <tr>
        <td><%= link_to amoeba.name, amoeba %></td>
        <td><%= amoeba.generation %></td>
        <td><%= link_to 'Edit', edit_amoeba_path(amoeba) %></td>
        <td><%= link_to 'Delete', amoeba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amoeba', new_amoeba_path %>
